
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:skyblue;
  margin-right: 20px;
  font-size: 25px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
body {
  margin: 0;
  box-sizing: border-box;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://res.cloudinary.com/dkhfzpkw2/image/upload/v1700126021/child-right_qoyq8u.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.AIM-OF-PROJECT {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.AIM-OF-PROJECT img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.AIM-OF-PROJECT-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.AIM-OF-PROJECT-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

/* Youtubepage.css */

.card {
  border: 1px solid #ddd;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover,
.card.shake {
  transform: scale(1.1);
}

button {
  margin-top: 10px;
}

.container1 { 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  background-image: url("https://res.cloudinary.com/dkhfzpkw2/image/upload/v1703780327/multi-ethnic-paper-dolls-with-different-colored-hair-holding-hands-and-surrounding-our_vcndfa.jpg");
  background-attachment:fixed;
  } 
.vq1{
  color: #050100;
  font-weight: 900;
}
  
.word-container1 { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 50px; 
  } 
.letter { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 60px; 
  height: 60px; 
  margin: 0 5px; 
  border-radius: 50%; 
  font-size: 24px; 
  font-weight: bold; 
  color: #fff; 
  background-color: #333; 
  opacity: 1; 
  transition: opacity 0.2s ease-in-out; 
  } 
  
.letter.visible { 
  opacity: 1; 
  } 
  
.button1-section { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  } 
  
.guess-section { 
  margin-bottom: 30px; 
  } 
  
.restart-button1, 
.remove-button1{ 
  padding: 12px 20px; 
  margin-right: 10px; 
  font-size: 16px; 
  font-weight: bold; 
  color: #fff; 
  background-color: #f44336; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
  } 
  
.remove-button1:disabled { 
  background-color: #ccc; 
  cursor: not-allowed; 
  } 
  
.restart-button1:hover, 
.remove-button1:hover { 
  background-color: #d32f2f; 
  } 
  
.restart-button1:focus, 
.remove-button1:focus { 
  outline: none; 
  } 
  
.letter-selection { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin-bottom: 30px; 
  } 
  
.letter-button1 { 
  padding: 15px 5px; 
  margin: 3px; 
  font-size: 20 px; 
  font-weight: bold; 
  color: #fff; 
  background-color: #53036c; 
  border:#333;
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
  } 
  
.letter-button1.selected { 
  background-color: rgb(133, 84, 134); 
  } 
  
.letter-button1:disabled { 
  background-color: rgb(204, 204, 204)ccc; 
  cursor: not-allowed; 
  } 
  
.hints { 
  margin-bottom: 20px; 
  font-size: 20px; 
  font-weight: bold; 
  color: #333; 
  text-align: center;
  } 
  
.hint-button1 { 
  padding: 12px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  color: #fff; 
  background-color: #4caf50; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
  } 
  
.hint-button1:disabled { 
  background-color: #ccc; 
  cursor: not-allowed; 
  } 
  
.hint-button1:hover { 
  background-color: #388e3c; 
  } 
  
.hint-button1:focus { 
  outline: none; 
  } 
  
.message { 
  font-size: 20px; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
  margin-bottom: 20px; 
  } 
  
.guess-button1 { 
  padding: 12px 30px; 
  margin-top: 20px; 
  font-size: 18px; 
  font-weight: bold; 
  color: #fff; 
  background-color: #ff5722; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
  align-items: center;
  } 
  
.guess-button1:disabled { 
  background-color: #ccc; 
  cursor: not-allowed; 
  } 
  
.guess-button1:hover { 
  background-color: #e64a19; 
  } 
  
.guess-button1:focus { 
  outline: none; 
  } 
.word-description { 
  font-size: 35px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-style:italic;
  color: rgb(255, 2, 107); 
  margin-bottom: 20px; 
  }
.green-text {
  color: green;
  font-size: 30px;
}

.blue-text {
  color: blue;
  font-size: 30px;
}
.score-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #080707;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

.score-card p {
  font-size: 18px;
  margin-bottom: 15px;
}

.score-card button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display:flow-root;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.score-card button:hover {
  background-color: #3a613c;
}
 
.fullscreen-video {
  background-image: url("https://res.cloudinary.com/dkhfzpkw2/image/upload/v1703780527/photo-1502086223501-7ea6ecd79368_jtpuhl.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  }

.youtube-container {
  width: 100%;
  height: 100vh;
  }
/* Youtubepage.css */
.ytbackground-image {
  background-image: url('https://res.cloudinary.com/dkhfzpkw2/image/upload/v1703780450/happy-childrens-day-children-friendship-globe-childhood-childrens-rights-holiday-vector_izsbvd.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Set the minimum height to cover the entire viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body{
  background-color: rgb(51, 175, 175);
}
